.room{
    display: flex;
    font-family: Georgia;
    width: 100%;
    height: 130vh;
    justify-content: space-between;
}
.room-left{
    width: 43.3%;
    height: inherit;
}
.room-left img{
    /* height: inherit; */
    width: 100%;
    height: inherit;
}
.room-right{
    align-items: center;
    background: #1f1515;
    width: 56.7%;
    position: relative;
    height: inherit;
}
.room-right .inner{
    width: 100%;
    height: inherit;
    text-align: left;
    
}
.room h2{
    font-size: 5.82vw;
    margin: 158px 5% 100px 15%;
    font-family: Georgia;
    width: 47vw;
    height: 30vh;
    font-weight: normal;
    text-align: left;
    color: #fdf0d5;

}
.room h3{
    font-size: 1.59vw;
    margin-left: 15%;
    margin-bottom: 30px;
    font-family: Georgia;
    width: 250px;
    height: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fdf0d5;

}
.inner p{
    margin-top: 26px;
    line-height: 1.3;
    margin-left: 15%;
    font-family: Georgia;
    width: 24.2vw;
    height: 79px;
    font-family: Georgia;
    font-size: 1.1vw;
    color: #fdf0d5;
}
.btn-div {
    width: 100%;
    height: 180px;
}
.btn{
    border-radius: 50%;
    color: #1f1515;
    width: 10vw;
    height: 21.4vh;
    background-color: #d9d9d9;
    position: relative;
    margin-top: 100px;
    margin-left: 31.3vw;
}
@media (max-width: 1000px) {
    .btn {
        width: 11.6vw;
        height: 21.4vh;
    }
}
.btn button{
    align-items: center;
    color: #1f1515;
    font-family: Georgia;
    font-size: 1.5vw; 
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    border: none;
} 

.line{
    height: 0.9px;
    width: 89.7%;
    background: #fdf0d5;
    margin-top: -25px;
    position: absolute;
    right: 0;
} 
.room-con {
    width: 100%;
    height: 100px;
    margin-top: -29px;
}
.room-con p{
    line-height: 1.8;
    font-size: 18px;
    width: 195px;
    height: 52px;
    font-family: Georgia;
    color: #fdf0d5;
    margin-left: 140px;
}

@media (max-width: 650px) {
    .room{
        flex-direction: column-reverse;
        height: 180vh;
    }
    .room-left {
        width: 100%;
        height: 90vh;
    }
    .room-right {
        width: 100%;
        height: 90vh;
    }
    .inner {
        text-align: center;
    }
    .room h2{
        font-size: 9.5vw;
        margin: auto;
        text-align: center;
        height: 19vh;
        width: 57.4vw;
        margin-top: 73px;
    }
    .room h3{
        width: 50.49vw;
        height: 5.13vh;
        font-size: 4.1vw;
        text-align: center;
        font-size: 22px;
        margin: auto;
        margin-top: 47px;
    }
    .room p {
        font-size: 2vw;
        margin: auto;
        text-wrap: wrap;
        text-align: center;
        height: 15vh;
        width: 45vw;
        line-height: 1.5;
    }
    .room-right button{
        align-items: center;
        color: #1f1515;
        font-family: Georgia;
        font-size: 4.6vw; 
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: inherit;
        border: none;
    } 
    .btn{
        border-radius: 50%;
        color: #1f1515;
        width: 29.5vw;
        height: 26.5vh;
        background-color: #d9d9d9;
        position: relative;
        margin: auto;
    }
    .line{
    display: none;
    }
    .room-con p {
    display: none;
    }
    .room-con {
        display: none;
    }
}
@media (max-width: 450px) {
    .room{
        height: 140vh;
    }
    .room-left {
        height: 70vh;
    }
    .room-right {
        height: 70vh;
    }
    .room h2{
        font-size: 9vw;
        height: 15vh;
        width: 57.4vw;
        margin-top: 50px;
    }
    .room h3{
        width: 50vw;
        height: 5vh;
        font-size: 4.1vw;
        text-align: center;
        margin-top: 0px;
    }
    .room p {
        font-size: 2vw;
        text-align: center;
        height: 10vh;
        width: 45vw;
        line-height: 1.5;
    }
    .btn{
        width: 29.5vw;
        height: 18.5vh;
    }
}