.room{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 982px;
    background: #fff362;
}
.room-left{
    width: 43.3%;
    height: 717px;
}
.room-left img{
    /* height: inherit; */
    width: 100%;
    height: 982px;
}
.room-right{
    align-items: center;
    background: #1f1515;
    width: 56.7%;
    position: relative;
}
.room-right .inner{
    width: 100%;
    height: inherit;
    text-align: left;
    
}
.room h2{
    font-size: 80px;
    margin: 158px 296px 42px 108px;
    font-family: Georgia;
    width: 419px;
    height: 182px;
    font-weight: normal;
    text-align: left;
    color: #fdf0d5;

}
.room h3{
    font-size: 24px;
    margin-left: 108px;
    margin-bottom: 30px;
    font-family: Georgia;
    width: 250px;
    height: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fdf0d5;

}
.inner p{
    margin-top: 26px;
    line-height: 1.3;
    margin-left: 108px;
    font-family: Georgia;
    width: 341px;
    height: 79px;
    font-family: Georgia;
    font-size: 14px;
    /*  */
    color: #fdf0d5;
}
.btn-div {
    width: 100%;
    height: 180px;
}
 .room-right button{
    align-items: center;
    color: #1f1515;
    font-family: Georgia;
    font-size: 22px; 
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    border: none;
} 
.btn{
    border-radius: 50%;
    color: #1f1515;
    width: 175px;
    height: 175px;
    background-color: #d9d9d9;
    position: relative;
    margin-top: 100px;
    margin-left: 450px;
}

.line{
    height: 0.9px;
    width: 89.7%;
    background: #fdf0d5;
    margin-top: -25px;
    position: absolute;
    right: 0;
} 
.room-con {
    width: 100%;
    height: 100px;
    margin-top: -29px;
}
.room-con p{
    line-height: 1.8;
    font-size: 18px;
    width: 195px;
    height: 52px;
    font-family: Georgia;
    color: #fdf0d5;
}