.register {
    background: url(../../assets/register-img.jpg);
    background-color: red;
    width: 100%;
    height: 100vh;
}
.register-hue {
    background-color: rgba(31, 21, 21, 0.9);
    width: inherit;
    height: inherit;
}